target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.metadata/
*.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/version.ini
*.log
*.ini
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
**/metadata/*
/metadata/
*.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
