@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.navBarColor{
    background-color: #051517;
}

.banner{
	opacity: 0.8;
	margin-bottom: 5vh;
}

.box{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
}
